---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import Paradigma from '../components/Paradigma.astro';
import ProductoPreview from '../components/ProductoPreview.astro';
import Servicio from '../components/Servicio.astro';
import Showcase from '../components/Showcase.astro';
import Planes from '../components/Planes.astro';
import Nosotros from '../components/Nosotros.astro';
import CtaBand from '../components/CtaBand.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <LogoStrip />
    <Paradigma />
    <ProductoPreview />
    <Servicio />
    <Nosotros />
    <Planes />
    <CtaBand />
    <Contacto />
  </main>
  <Footer />
</Layout>
